


.profile_image {
    border-radius: 50%;
    width: 50%;
    filter: grayscale(1);
    padding: 10px;
  }
  
  .profile_image:hover {
    transition: grayscale 0.5s;
    filter: grayscale(0);
    transition: all 600ms ease;
  }

  

